.container 
.imgresp {
  max-width: 100%;
  height: auto;
}

/*
     FILE ARCHIVED ON 21:13:00 Apr 14, 2021 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:09:48 Jul 29, 2021.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 1805.76 (3)
  captures_list: 1830.416
  RedisCDXSource: 1.044
  esindex: 0.013
  CDXLines.iter: 19.872 (3)
  PetaboxLoader3.resolve: 4553.834 (2)
  exclusion.robots: 0.269
  PetaboxLoader3.datanode: 100.366 (4)
  exclusion.robots.policy: 0.252
  load_resource: 2860.194
*/